body {
  background-image: url(https://www.xtrafondos.com/descargar.php?id=1629&resolucion=4000x2250);
  /*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

  background-repeat: repeat;
  font-family: "PT Sans";
  font-style: italic;
  font-size: 1rem;
  color: aliceblue;
}

.buttonsMenu {
  font-size: 2rem;
}

.cardTemplate {
  width: 100%;
  height: 11.25rem;
}

.titleCard {
  font-size: 1.3rem;
  text-align: center;
}
.descriptionCard {
  font-size: 1.2rem;
  text-align: center;
}

.cardButton {
  text-align: center;
  align-items: center;
}

.navbar-css {
  border-bottom: 0.1rem solid white;
  background-color: #ffffff12;
}

.navbar-toggler {
  background-color: black;
}

.titlesHome {
  margin-bottom: 0rem;
}

#dropdown-item-button {
  height: 3.5rem;
}

.react-multiple-carousel__arrow,
.react-multiple-carousel__arrow--right {
  background: black;
}

.buttonsMenu {
  font-size: 2rem;
}

.etiqueta {
  background: rgb(7, 9, 9);
  background: linear-gradient(
    0deg,
    rgba(7, 9, 9, 1) 21%,
    rgb(51, 168, 184) 100%
  );
  border-radius: 5px;
}
